body {
  font-family: "Montserrat";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #8f8f8f;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Title Section */

#title {
  background-color: #636162;
  color: rgb(0, 0, 0);
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.cop-img {
  width: 40%;
  position: absolute;
  top: 0%;
  right: 20%;
}

.robber-img {
  width: 35%;
  position: absolute;
  top: 0%;
  left: 20%;
}

/* Testimonial Section */

#testimonials {
  background-color: #cc9734;
  height: 50vh;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.image-slide {
  width: 10%;
  height: 10%;
}
