@charset "UTF-8";
// Bootstrap brand color customization

/*     brand Colors              */

$brand-primary:              #3b3f42 !default;
$brand-primary-lighter:      #656a6d !default;
$brand-primary-darker:       #15191b !default;
$brand-accent:               #e2c373 !default;
$brand-info:                 $cyan-500 !default;
$brand-success:              $green-500 !default;
$brand-warning:              $orange-500 !default;
$brand-danger:               $red-500 !default;
$brand-rose:                 $pink-500 !default;
$brand-inverse:              #fafafa !default;
