* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  background: black;
}

#home {
  color: white;
  text-align: center;
  margin-left: 420px;
  margin-right: 420px
}

#login {
font-size: 15px;
background: black;
padding: 4px 10px;
border: 1px solid white;
color: white;

outline: 0;
}

#login:hover {
  background: white;
  color: black;
  border: 2px solid black;
  transition: 0s all;
}

#join {
  font-size: 30px;
  background: black;
  padding: 10px 30px;
  border: 2px solid white;
  color: white;

  outline: 0;
}

#join:hover {
  background: white;
  color: black;
  border: 2px solid black;
  transition: 0s all;
}

#h1 {
  color: white;

}

#h2 {
  color: white;

}

@media (max-width:960px) {
  #home {
    margin: 20px 100px 0 100px;
  }
}

#Register {
  font-size: 20px;
  background: white;
  padding: 10px 30px;
  border: 2px solid black;
  color: black;
  transition: 1s all;
  outline: 0;
}

#Register:hover {
  background: red;
  color: white;
  border: 2px solid black;
  transition: 0s all;
}

#form {
  color: white;
  margin: 20px auto;
  width:250px;
}

.container {
  width: 500px;
  clear: both;
}

.container input {
  width: 100%;
  clear: both;
}
.title {
  margin: 30px;
  font-family: 'Righteous', cursive;
}

input {
  background: black;
  color: white;
  border: 1px white solid;
  border-radius: 15px;
  padding: 5px 10px
}

hr {
  border: 2px white solid;
}

footer {
  color: white;
}
