@charset "UTF-8";

.card {
  border: 0;
  border-radius: 6px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  margin-bottom: 24px;
  background-color: $brand-primary;

  .card-body {
    padding: 5px 24px 0 !important;
    color: white;
  }

  .card-title {
    font-size: 2.125rem;
    font-weight: $font-weight-default;
    font-family: $font-family-sans-serif;
    margin-top: 0 !important;
    margin-bottom: 4px !important;
    color: white;
    a {
      transition: all 0.3s ease-out;
      color: white;
      text-decoration: none;

      &:hover {
        color: white !important;
      }

    }

  }

  .card-text {
    margin: 0;
    color: white
  }

  h6 {
    margin-bottom: 0;
  }

}
