#outer {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#remaining {
  background-color: #3b3f42;
  flex-grow: -1;
  height: 64.3vh;
  width: 100vw;
}

.game-desc p {
  font-size: 1.5rem;
  font-family: "Inconsolata", monospace;
  font-weight: 100;
  line-height: 1.6;
  color: #fff;
}

.carousel {
  padding-top: 0;
  padding-bottom: 0;
  background-color: $brand-accent;
  background-image: linear-gradient(to right, #d7942d, #eac894, #d7942d);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.carousel-item {
  margin: 2rem 0;
}

.carousel-item img {
  border: 3px solid black;
}

.shaker:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* About game */

.about-desc {
  font-weight: bolder;
  padding-bottom: 50px;
  background-color: #3b3f42;
}

.about-desc p {
  font-size: 1.5rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 100;
  line-height: 1.6;
  color: $brand-accent;
}

.center {
  text-align: center;
}

.battle {
  padding: 2rem 0;
  background: $brand-accent;
}
.battle h1,
.battle p {
  color: #3b3f42;
  font-family: "Ubuntu", sans-serif;
}

.conditions {
  margin-top: 4rem;
}

.conditions h1 {
  font-size: 2.5rem;
  margin-bottom: 5rem;
  font-family: "Ubuntu", sans-serif;
}

.victory {
  margin-bottom: 2rem;
}

.start {
  padding-left: 2rem;
  text-align: start;
}

.title {
  text-align: start;
  padding-left: 5rem;
}

.goal {
  padding-top: 3rem;
  font-size: 3rem;
}

.img-border {
  border: solid 3px black;
}

.weapons {
  margin-top: 3rem;
}

.weapons h1 {
  margin-bottom: 2rem;
  font-family: "Alfa Slab One", cursive;
  font-size: 3rem;
}
li,
li p.white,
p.white {
  color: white;
}

.battle-text {
  justify-content: center;
  align-self: center;
  text-align: justify;
}

.battle-text p {
  font-size: 1.5rem;
  padding: 0 5rem;
  font-weight: bolder;
  font-family: "Ubuntu", sans-serif;
}

.ubuntu {
  font-family: "Ubuntu", sans-serif;
}

.title-font-teams {
  font-family: "Alfa Slab One", cursive;
}

.img-fluids {
  width: 100%;
  height: 100%;
}

h1.ubuntu {
  padding-left: 55px;
}

.ubuntu p {
  margin-left: 1rem;
}