*{
    margin: 0;
    padding: 0;
}

a {
    color: $brand-accent;
}

a:hover {
    color: $brand-accent;
    text-decoration: none;
}  


.btn1, .btn2, .btn3, .btn4, .btn5{
    width: 200px;
    height: 60px;
    background: none;
    border: 4px solid;
    color: $brand-accent;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    display: block;
    margin: 20px;
    top: 150px;
    left: 650px;
    text-decoration: none;

}

.btn1::before, .btn1::after, .btn2::before, .btn2::after, .btn3::before, .btn3::after, .btn4::before, .btn4::after, .btn5::before, .btn5::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 4px;
    background: #15191b;
    transform: skewX(50deg);
    transition: .4s linear;
} 

.btn1::before, .btn2::before, .btn3::before, .btn4::before, .btn5::before, .btn5::before{
    top: -4px;
    left: 10%;
}

.btn1::after, .btn2::after, .btn3::after, .btn4::after, .btn5::after {
    bottom: -4px;
    right: 10%;
}

.btn1:hover::before, .btn2:hover::before, .btn3:hover::before, .btn4:hover::before, .btn5:hover::before{
    left: 80%;
}

.btn1:hover::after, .btn2:hover::after, .btn2:hover::after, .btn3:hover::after, .btn4:hover::after, .btn5:hover::after{
    right: 80%;
}

// @media screen and (max-width: 1024px) {
//     .btn1, .btn2, .btn3, .btn4, .btn5 {
//         width: 200px;
//         left: 125px;
//         top: 60px;
//     }
// }

// @media screen and (max-width: 480px) {
//     .btn1, .btn2, .btn3, .btn4, .btn5 {
//         width: 200px;
//         left: 125px;
//         top: 60px;
//     }
// }
