* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
  
body {
    background-color:  #3b3f42;
}
  
body::-webkit-scrollbar {
    width: 0.30rem;
}
  
body::-webkit-scrollbar-track {
    background: black;
}
  
body::-webkit-scrollbar-thumb {
    background: orange;
}
  
.sidenav {
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 10px;
    background-color: #3b3f42;
    overflow-x: hidden;
    padding: 8px 0;
}
  
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #e2c373;
    display: block;
    transition: 0.2s;
    font-family: 'Inconsolata', monospace;
}
  
.sidenav a:hover {
    background-color: white;
    color: black;
}
  
.main {
    margin-left: 300px;
    margin-right: 250px;
    text-align: justify;
    font-size: 20px;
    padding: 0px 10px;
}


.main p {
    color: white;
    margin-inline-start: 2rem;
    font-family: 'Inconsolata', monospace;
}

h2 {
    color: white;
    font-family: 'Inconsolata', monospace;
}

h5 {
    color: white;
    font-family: 'Inconsolata', monospace;
}

/* Optional border in sections */
/*
.Intro-Block {
    border: 8px black solid;
    border-radius: 15px;
}

.Intro-Design {
    margin-right: 80px;
    margin-left: 80px;
}

.GameE-Block {
    border: 8px black solid;
    border-radius: 15px;
}

.GameE-Design {
    margin-right: 80px;
    margin-left: 80px;
}

.GameD-Block {
    border: 8px black solid;
    border-radius: 15px;
}

.GameD-Design {
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 2px;
}

.Multiplayer-Block {
    border: 8px black solid;
    border-radius: 15px;
}

.Multiplayer-Design {
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 2px;
}
*/

.column {
    float: left;
    width: 30%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#cop {
    padding-left: 50px;
}

#gameView {
    padding-left: 50px;
}

#ground {
    padding-left: 50px;
}

#wall {
    padding-left: 50px;
}

#lampPost {
    padding-left: 50px;
}

#godown {
    padding-top: 20px;
}

/* Optional comment section */
/*
#submit {
    font-size: 15px;
    background-color: white;
    padding: 4px 10px;
    border: 2px solid black;
    color: black;
    outline: 0;
    border-radius: 15px;
    padding: 5px 10px
}
    
#submit:hover {
    background: orange;
    color:black;
    border: 2px solid black;
    transition: 0s all;
}

#form {
    color: black;
    margin: 20px auto;
    width:250px;
}


#comment {
    background-color:black;
    color: white;
    border: 1px black solid;
    border-radius: 15px;
    padding: 5px 10px
}
*/
  
@media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
}