[submodule "codedoc/playerlink"]
	path = codedoc/playerlink
	url = https://6de43744e4121f058ee85d11b924d2cedc61519f@github.com/derangedsenators/playerlink.git
[submodule "codedoc/copsandrobbers"]
	path = codedoc/copsandrobbers
	url = https://6de43744e4121f058ee85d11b924d2cedc61519f@github.com/derangedsenators/copsandrobbers.git
