* {
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
}

.navbar-custom {
	font-weight:bold;
	border-bottom: 1px solid #232425;
}

.navbar-brand { 
	color: #e2c373 !important;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 25px;
} 
 
.game-desc {
	padding-top: 38px;
	padding-bottom: 38px;
	text-align: center;
	background-color: #3b3f42;
}			

.first-block {
	padding-top: 38px;
	padding-bottom: 38px;
	text-align: center;
	background-color: #3b3f42;
}

.center-title {
	font-family: 'Alfa Slab One', cursive;
}
.navbar-brand {
	font-family: 'Alfa Slab One', cursive;
	font-size: 15px;
}

#outer {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#remaining {
	 background-color: #3b3f42;    
	 flex-grow: -1;
	 height: 64.3vh;
  width: 100vw;
}

h1 {
	color: #e2c373;
}

p {
	color: #ffffff;
}
.game-desc h1 {
	font-size: 70px;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: sans-serif;
}

.game-desc p {
	font-size: 20px;
	font-family: sans-serif;
}
 
.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #333333;
   color: white;
   text-align: center;
   padding-top: 10px;
   padding-bottom: 10px;
}

.carousel {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #e2c373;
	background-image: linear-gradient(to right, #d7942d, #eac894, #d7942d);
}

img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
